:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-drawer-container {
  height: calc(100vh - 97px);

  mat-drawer {
    width: 300px;
  }
}

main {
  padding: 3rem 6rem;
}

app-top-bar,
app-bottom-bar {
  background-color: var(--primary-color);
  color: var(--text-primary-lighter-color);
}

app-bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
